* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  background-color: #bed6eb;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 50vh;
}

.container:hover {
  box-shadow: 0 0 100px rgb(0, 0, 0);
  transform: scale(1.01);
}
form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  background-color: #bed6eb;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

#from-select,
#to-select
{
  width: 10vh;
}


form input {
  background-color: #bed6eb;
  border: 1px solid rgb(140, 186, 216);
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  background-color: #bed6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}